
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .list-btn{
        display: none;
        @media(max-width: 400px){
            display: block;
        }
    }
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "filter content list";
    gap: 5px;
    @media(max-width:400px){
        grid-template-columns: auto;
        grid-template-rows: 200px 200px;
        grid-template-areas: "filter""content";
    }
    .filter{
        grid-area: filter;
        border: green dashed 2px;
        min-height: 100px;
    }
    .content{
        grid-area: content;
        border: blue dashed 2px;
        min-height: 100px;
    }
    .list{
        grid-area: list;
        border: red dashed 2px;
        min-height: 100px;
        min-width: 100px;
        transition: transform 0.1s ease;
        @media(max-width:400px){
            grid-area: unset;
            position: fixed;
            right: 8px;
            transform: translateX(calc(100% + 8px));
        }
        &.open{
            transform: translateX(0);
        }
    }
}