@keyframes animate {
  from {
    width: 200px;
    /* border-radius: 60% 40% 70% 30% / 30% 30% 70% 70%; */
    /* background-color: lch(77% 91 135); */
  }

  to {
    width: 400px;
    /* border-radius: 60% 40% 33% 67% / 30% 45% 55% 70%; */
    /* background: lch(77% 93 165); */
  }
}

.element {
    /* animation: remake 1.5s infinite alternate; */
    animation: animate 3s linear infinite alternate;
    height: 500px;
    border: 2px solid grey;
}
body{height: 200dvh;}
.sticky-container{
  position: sticky;
  top: 0;
}
.absolute-move{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aqua;
  position: absolute;
  left: 0;
  top: 50px;
  /* animation: move 10s infinite linear; */
  animation: move linear forwards;
  animation-timeline: scroll();
}

@keyframes move{
  0%{
    left:0;
  }
  25%{
    left:200px;
  }
  50%{
    top: 300px;
  }
  75%{
    left:100px;
  }
  100%{
    left:400px;
  }
}